*{
    margin: 0;
    padding: 0;

}
body{

    height: 100vh;
    width: 100vw;
    background-color:wheat;
    overflow-x: hidden;
    
}
#parent{
    height:100vh;
    width:100vw;
    background-color:wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.child{
    height: 70vh;
    width: 170px;
    background-color: white;
    margin: 20px;
    padding: 3px;
    box-shadow: 10px 10px 20px black;
}
.img{
    height: 40%;
    width: 100%;
    background-color: red;
    
}
.img img{
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 1s linear;
    

}
#prg{
    height: 60%;
    width: 100%;
    background-color: white;

    
}
#prg h2{
    color: black;
}
#prg p{
    font-size: 13px;
     color: #515157;
    
}
.img img:hover{
    transform: scale(1,1.2);
}

body h1{
    text-align: center;
}