*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
#parent{
    height:100vh;
    width: 100vw;
    background-color: aqua;
}
.child{
    height: 300px;
    width: 300px;
    background: linear-gradient(blue,yellow);
}